
.buttons{
  padding: 0%;
  float: left;

}

button {
    padding: 10px 10px;
    margin: 0px;
    cursor: pointer;
    background-image: url('images/button.jpg');
    color: white;
}

table {
   
    width: fit-content;
    margin: -225px  auto;
    border-radius: 50px;
    background-color: white;
    border-collapse: collapse;
    display:none; /* Initially hide all tables */
}

table, th, td, tr {
    border:0px solid white;
    padding: 10px solid #ddd;
   
    
    
   
   
}

th, td {
  padding: 1px;
  text-align: center;
  border-radius:50px solid #ddd;
  padding: 13px;
  border-spacing: 100px;


}

#table-container {
 margin-top: 0%;
 
}
th{
    text-align: center;
    background-color:  #8ec6f4;
    color: #fff;
    font-size: 20px;
    
   
}
tr:hover{
    background-color: #c2d4e2;
    box-shadow: 8px 8px 8px grey;
    border-radius: 50px;
    
}
table:hover{
  box-shadow: 8px 8px 8px rgb(210, 247, 230);
  display: block;
}
/* button code css*/
.triangle-button {
    height: 70px;
    width:13.5%;
    border-top-left-radius: 175%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    margin-left: 5px;
  }
  
  
  .butoon5{
    height: 70px;
    width: 13.5% ;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 175%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    margin-left: 5px;
    text-align: top;
  
  }
  
  .butoon2{
    height: 70px;
    width:  13.5%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 175%;
    margin-left: 5px;
  }
  
  .button6{
    height: 70px;
    width:  13.5%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 175%;
    border-top-right-radius: 0%;
    margin-left: 5px;
  
  }
  
  
  
  .triangle-button:hover {
    border-bottom-color: #62b1e6; /* Change color on hover */
   
  }
  .button3{
    height: 70px; 
    width: 13.5%; 
    border-top-left-radius: 50%; 
    border-bottom-left-radius: 50%;
    margin-left: 5px;
  }
  
  .button4{
    height: 70px; 
    width:  13.5%; 
    border-top-right-radius: 50%; 
    border-bottom-right-radius: 50%;
    margin-left: 5px;
  }

  .footer{
    background-color: #202020;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 250px;
    position:static;
    bottom: 0;
    width: 98.8%;
    
}

  /*profile image */
  

  .image{
    height: 135px;
    width: 22px;
    margin-bottom: 0%;
    border-radius: 50%;
  
    

}
.h1{
  float: center;
  background-image: none;
}
